<h1>Login</h1>

<% if current_developer %>
  You are now logged in as: <%= current_developer.name %> .
  <%= link_to "Log Out", session_path, method: :delete %>.
<% else %>
  You are not logged in. Need an account? <%= link_to "Sign up", new_developer_path %>.
<% end %>

<%= form_tag session_path do %>
  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>
<% end %>
