<p id="notice"><%= notice %></p>
<%= link_to "Log Out", session_path, method: :delete %>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', root_path %>
