<%= form_with(model: @time_entry, local: true) do |f| %>
  <% if @time_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_entry.errors.count, "error") %> prohibited this time_entry from being saved:</h2>

      <ul>
        <% @time_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :entry, id: :time_entry_entry %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date_field, id: :time_entry_date_field %>
  </div>

  <div class="field">
    <%= f.label :developer %>
    <%= f.collection_select :developer_id, Developer.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Time Entry' %>
  </div>
  <br>
<% end %>

<%= link_to 'Back', root_path %>
