<h1>Time Entries Index</h1>
<h2>Herea are your entries:</h2>
<td class="button"><%= link_to 'Add a Time Entry', new_time_entry_path %></td>

<table>
  <thead>
    <tr>
      <th class="headers">Developer</th>
      <th class="headers">Duration</th>
      <th class="headers">Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
        <% @time_entries.each do |entry| %>
          <tr class="body">
            <td><%= entry.entry %></td>
            <td><%= entry.date_field %></td>
            <td class="button"><%= link_to 'Show', entry %></td>
            <td class="button"><%= link_to 'Edit', edit_time_entry_path(entry) %></td>
            <td class="button"><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>
