<h1>Time Entries Index</h1>
<h2>Here are your entries:</h2>
<td class="button"><%= link_to 'Add a Time Entry', new_developer_time_entry_path %></td>
<%= link_to "Log Out", session_path, method: :delete %>

<table>
  <thead>
    <tr>
      <th class="headers">Duration</th>
      <th class="headers">Date</th>
      <th class="headers">Developer</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
        <% @time_entries.each do |entry| %>
          <tr class="body">
            <td><%= entry.entry %></td>
            <td><%= entry.date_field%></td>
            <td><%= entry.developer.name %></td>
            <td class="button"><%= link_to 'Edit', edit_developer_time_entry_path(@developer, entry) %></td>
            <td class="button"><%= link_to 'Destroy', developer_time_entry_path(@developer, entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>
