<h1>Create a New Time Entry for:</h1>
<h2><%= @developer.name %></h2>

<%= render 'form', time_entry: @time_entry, developer: @developer %>

<%= link_to 'Developer Index', developers_path %>
<%= link_to "Log Out", session_path, method: :delete %>
<%= link_to "View All Your Time Entries", developer_time_entries_path(@developer) %>
