<p id="notice"><%= notice %></p>
<h2>New Time Entry</h2>

<%= link_to "Log Out", session_path, method: :delete %>

<p>
  <strong>Duration:</strong>
  <%= @time_entry.entry %>
</p>

<p>
  <strong>Date:</strong>
  <%= @time_entry.date_field %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @time_entry.developer.name %>
</p>


<%= link_to 'Back to Developers', root_path %>
